:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Merriweather", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --color-gray: #595653;
  --color-gray2: #313131;
  --color-gray3: #d0d0d0;
  --color-white: #fff;
  --color-black: #1f1f1f;
  --color-section-city: #e9ded4;
  --color-red: #f54932;
  --color-blue: #3057a2;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.city {
  margin: 0 auto;
  width: 100%;
  background: var(--color-section-city);
}
.city__wrapper {
  width: 1366px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../images/png/background-city.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-left: 72px;
}
.logo__images {
  display: flex;
  gap: 0 2px;
}
.logo__img {
  width: 23px;
  height: 32px;
}
.logo__text {
  width: 147px;
  margin-left: 6px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 108%;
  text-transform: uppercase;
  color: var(--color-gray);
}

.content {
  width: 542px;
  height: 444px;
  margin-top: 62px;
  margin-left: 72px;
}
.content__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--color-gray2);
}
.content__title_center {
  text-align: center;
}
.content__title_right {
  text-align: right;
}
.content__text {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: var(--color-gray2);
}
.content__btns {
  display: flex;
  gap: 0 16px;
}
.content__btn {
  border: 2px solid var(--color-black);
  border-radius: 66px;
  width: 263px;
  height: 72px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}
.content__btn_white-text {
  background: var(--color-black);
  color: var(--color-white);
}
.content__btn_black-text {
  background: inherit;
  color: var(--color-black);
}

.running-line-top {
  width: 100%;
  margin: 0 auto;
  background: var(--color-red);
}
.running-line-top__wrapper {
  width: 1366px;
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
}

.line-content {
  display: flex;
  align-items: center;
  width: 4642px;
  height: 100%;
  animation: running-line-top 8s linear infinite;
}
.line-content__text {
  display: flex;
  white-space: nowrap;
  width: 2321px;
}
.line-content__text p {
  padding: 0 12px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: right;
  color: var(--color-white);
}
.line-content__dot {
  width: 6px;
  height: 6px;
  align-self: center;
}

@keyframes running-line-top {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.support {
  width: 100%;
  margin: 0 auto;
  background: var(--color-white);
}
.support__wrapper {
  width: 1222px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}
.support__title {
  width: 764px;
  height: 195px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
  color: var(--color-gray2);
}
.support__title_red {
  font-weight: 700;
  color: var(--color-red);
}
.support__img {
  width: 394px;
  height: 250px;
}

.information {
  width: 100%;
  margin: 0 auto;
  background: var(--color-white);
}
.information__wrapper {
  width: 1366px;
  height: 609px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 88px;
}
.information__img {
  padding-top: 27px;
  width: 528px;
  height: 569px;
}
.information__content {
  margin-top: 49px;
  padding-left: 17px;
}
.information__title {
  margin-bottom: 60px;
  width: 704px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
  color: var(--color-gray2);
}
.information__title_red {
  font-weight: 700;
  color: var(--color-red);
}
.information__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--color-blue);
}

.table {
  height: 248px;
  width: 704px;
  margin-bottom: 48px;
  border-collapse: collapse;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 120%;
  color: var(--color-gray2);
}
.table__text {
  width: 286px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 21px;
  font-weight: 400;
  border-bottom: 2px solid var(--color-gray3);
  border-right: 2px solid var(--color-gray3);
  opacity: 0.7;
}
.table__text_bold {
  border-bottom: 2px solid var(--color-gray3);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-weight: 600;
}
.table__text_bold span {
  -webkit-text-decoration: line-through 2px var(--color-red);
          text-decoration: line-through 2px var(--color-red);
  padding-right: 7px;
}
.table__text_top-none {
  padding-top: 0px;
}
.table__text_bottom-none {
  border-bottom: none;
  padding-bottom: 0px;
}

.stages {
  width: 100%;
  margin: 0 auto;
  background: var(--color-white);
}
.stages__wrapper {
  width: 1366px;
  height: 584px;
  padding-top: 183px;
  padding-left: 144px;
  margin: 0 auto;
  overflow: hidden;
}
.stages__top {
  height: 130px;
  width: 806px;
  position: relative;
}
.stages__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-gray2);
}
.stages__title-text {
  position: absolute;
  right: 225px;
  bottom: 11px;
  height: 48px;
  width: 280px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--color-blue);
}
.stages__content {
  position: relative;
  margin-top: 53px;
}
.stages__table {
  width: 1222px;
  height: 399px;
  border-collapse: collapse;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
}
.stages__item {
  vertical-align: baseline;
  width: 394px;
  height: 112px;
  overflow: hidden;
  border-bottom: 20px solid var(--color-white);
  border-right: 20px solid var(--color-white);
  background-image: url("../images/png/stege-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.stages__item_right-none {
  border-right: none;
}
.stages__item_bottom-none {
  border-bottom: none;
}
.stages__item-wrapper {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.stages__item-number {
  border-radius: 60px;
  width: 36px;
  height: 36px;
  background: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stages__item-text {
  margin-left: 16px;
  margin-bottom: 20px;
  width: 300px;
}
.stages__item-text_width {
  width: 446px;
}
.stages__img {
  position: absolute;
  right: 81px;
  bottom: -2px;
}

.participants {
  width: 100%;
  margin: 0 auto;
  background: var(--color-white);
}
.participants__wrapper {
  width: 1366px;
  padding-top: 200px;
  padding-left: 144px;
  margin: 0 auto;
  overflow: hidden;
}
.participants__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
  color: #313131;
}

.slider {
  position: relative;
}
.slider__btns {
  width: 151px;
  height: 44px;
  position: absolute;
  right: 145px;
  top: -56px;
  display: flex;
  align-items: center;
}
.slider__btn-left {
  border: none;
  width: 44px;
  height: 44px;
  background: url("../images/icons/slider-button-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__btn-right {
  border: none;
  width: 44px;
  height: 44px;
  background: url("../images/icons/slider-button-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}
.slider__btns-numbers {
  width: 35px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #313131;
}
.slider__items {
  display: flex;
  gap: 0 94px;
  padding-top: 59px;
  padding-left: 37px;
}
.slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__card-title {
  padding-top: 29px;
  padding-bottom: 6px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #313131;
}
.slider__card-text {
  padding-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  opacity: 0.6;
}
.slider__card-btn {
  border: 1px solid #3057a2;
  border-radius: 62px;
  width: 113px;
  height: 35px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #3057a2;
}/*# sourceMappingURL=styles.css.map */