:root {
    --font-family: "Golos Text", sans-serif;
    --second-family: "Merriweather", sans-serif;
    --third-family: "Montserrat", sans-serif;

    --color-gray: #595653;
    --color-gray2: #313131;
    --color-white: #fff;
    --color-black: #1f1f1f;
    --color-section-city: #e9ded4;
    --color-red: #f54932;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

// ----- Main -----
.main {
    margin: 0 auto;
    width: 100%;
}

// ----- section City -----
.city {
    margin: 0 auto;
    width: 100%;
    background: var(--color-section-city);

    &__wrapper {
        width: 1366px;
        height: 700px;
        margin: 0 auto;
        overflow: hidden;
        background-image: url("../images/png/background-city.png");
        background-repeat: no-repeat;
        background-position: bottom;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-left: 72px;

    &__images {
        display: flex;
        gap: 0 2px;
    }
    &__img {
        width: 23px;
        height: 32px;
    }
    &__text {
        width: 147px;
        margin-left: 6px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 108%;
        text-transform: uppercase;
        color: var(--color-gray);
    }
}

.content {
    width: 542px;
    height: 444px;
    margin-top: 62px;
    margin-left: 72px;

    &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 60px;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--color-gray2);

        &_center {
            text-align: center;
        }
        &_right {
            text-align: right;
        }
    }
    &__text {
        margin-top: 24px;
        margin-bottom: 40px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: var(--color-gray2);
    }

    &__btns {
        display: flex;
        gap: 0 16px;
    }
    &__btn {
        border: 2px solid var(--color-black);
        border-radius: 66px;
        width: 263px;
        height: 72px;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        text-align: center;

        &_white-text {
            background: var(--color-black);
            color: var(--color-white);
        }
        &_black-text {
            background: inherit;
            color: var(--color-black);
        }
    }
}

// ----- section Running line top -----

.running-line-top {
    width: 100%;
    margin: 0 auto;
    background: var(--color-red);

    &__wrapper {
        width: 1366px;
        height: 60px;
        margin: 0 auto;
        overflow: hidden;
    }
}
.line-content {
    display: flex;
    align-items: center;
    width: 4642px;
    height: 100%;
    animation: running-line-top 8s linear infinite;

    &__text {
        display: flex;
        white-space: nowrap;
        width: 2321px;

        p {
            padding: 0 12px;
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 22px;
            line-height: 110%;
            text-transform: uppercase;
            text-align: right;
            color: var(--color-white);
        }
    }
    &__dot {
        width: 6px;
        height: 6px;
        align-self: center;
    }
}

@keyframes running-line-top {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
