:root {
    --font-family: "Golos Text", sans-serif;
    --second-family: "Merriweather", sans-serif;
    --third-family: "Montserrat", sans-serif;

    --color-gray: #595653;
    --color-gray2: #313131;
    --color-gray3: #d0d0d0;
    --color-white: #fff;
    --color-black: #1f1f1f;
    --color-section-city: #e9ded4;
    --color-red: #f54932;
    --color-blue: #3057a2;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

// ----- Main -----
.main {
    margin: 0 auto;
    width: 100%;
}

// ----- section City -----
.city {
    margin: 0 auto;
    width: 100%;
    background: var(--color-section-city);

    &__wrapper {
        width: 1366px;
        height: 700px;
        margin: 0 auto;
        overflow: hidden;
        background-image: url("../images/png/background-city.png");
        background-repeat: no-repeat;
        background-position: bottom;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-left: 72px;

    &__images {
        display: flex;
        gap: 0 2px;
    }
    &__img {
        width: 23px;
        height: 32px;
    }
    &__text {
        width: 147px;
        margin-left: 6px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 108%;
        text-transform: uppercase;
        color: var(--color-gray);
    }
}

.content {
    width: 542px;
    height: 444px;
    margin-top: 62px;
    margin-left: 72px;

    &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 60px;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--color-gray2);

        &_center {
            text-align: center;
        }
        &_right {
            text-align: right;
        }
    }
    &__text {
        margin-top: 24px;
        margin-bottom: 40px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: var(--color-gray2);
    }

    &__btns {
        display: flex;
        gap: 0 16px;
    }
    &__btn {
        border: 2px solid var(--color-black);
        border-radius: 66px;
        width: 263px;
        height: 72px;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        text-align: center;

        &_white-text {
            background: var(--color-black);
            color: var(--color-white);
        }
        &_black-text {
            background: inherit;
            color: var(--color-black);
        }
    }
}

// ----- section Running line top -----

.running-line-top {
    width: 100%;
    margin: 0 auto;
    background: var(--color-red);

    &__wrapper {
        width: 1366px;
        height: 60px;
        margin: 0 auto;
        overflow: hidden;
    }
}
.line-content {
    display: flex;
    align-items: center;
    width: 4642px;
    height: 100%;
    animation: running-line-top 8s linear infinite;

    &__text {
        display: flex;
        white-space: nowrap;
        width: 2321px;

        p {
            padding: 0 12px;
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 22px;
            line-height: 110%;
            text-transform: uppercase;
            text-align: right;
            color: var(--color-white);
        }
    }
    &__dot {
        width: 6px;
        height: 6px;
        align-self: center;
    }
}

@keyframes running-line-top {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}


// ----- section Support -----
.support {
    width: 100%;
    margin: 0 auto;
    background: var(--color-white);

    &__wrapper {
        width: 1222px;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 80px;
    }
    &__title {
        width: 764px;
        height: 195px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 36px;
        line-height: 135%;
        text-transform: uppercase;
        color: var(--color-gray2);

        &_red {
            font-weight: 700;
            color: var(--color-red);
        }
    }
    &__img {
        width: 394px;
        height: 250px;
    }
}

// ----- section Information -----
.information {
    width: 100%;
    margin: 0 auto;
    background: var(--color-white);

    &__wrapper {
        width: 1366px;
        height: 609px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding-left: 88px;
    }
    &__img {
        padding-top: 27px;
        width: 528px;
        height: 569px;
    }
    &__content {
        margin-top: 49px;
        padding-left: 17px;
    }
    &__title {
        margin-bottom: 60px;
        width: 704px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 36px;
        line-height: 135%;
        text-transform: uppercase;
        color: var(--color-gray2);
        &_red {
            font-weight: 700;
            color: var(--color-red);
        }
    }
    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: var(--color-blue);
    }
}
.table {
    height: 248px;
    width: 704px;
    margin-bottom: 48px;
    border-collapse: collapse;

    font-family: var(--font-family);
    font-size: 20px;
    line-height: 120%;
    color: var(--color-gray2);

    &__text {
        width: 286px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 21px;
        font-weight: 400;
        border-bottom: 2px solid var(--color-gray3);
        border-right: 2px solid var(--color-gray3);
        opacity: 0.7;
    }
    &__text_bold {
        border-bottom: 2px solid var(--color-gray3);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        font-weight: 600;

        span {
            text-decoration: line-through 2px var(--color-red);
            padding-right: 7px;
        }
    }
    &__text_top-none {
        padding-top: 0px;
    }
    &__text_bottom-none {
        border-bottom: none;
        padding-bottom: 0px;
    }
}


// ----- section Stages -----

.stages {
    width: 100%;
    margin: 0 auto;
    background: var(--color-white);

    &__wrapper {
        width: 1366px;
        height: 584px;
        padding-top: 183px;
        padding-left: 144px;
        margin: 0 auto;
        overflow: hidden;

    }
    &__top {
        height: 130px;
        width: 806px;
        position: relative;
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 54px;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--color-gray2);
    }
    &__title-text {
        position: absolute;
        right: 225px;
        bottom: 11px;
        height: 48px;
        width: 280px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: var(--color-blue);
    }

    &__content {
        position: relative;
        margin-top: 53px;
    }
    &__table {
        width: 1222px;
        height: 399px;
        border-collapse: collapse;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #313131;
    }
    &__item {
        vertical-align: baseline;
        width: 394px;
        height: 112px;
        overflow: hidden;
        border-bottom: 20px solid var(--color-white);
        border-right: 20px solid var(--color-white);
        background-image: url("../images/png/stege-fon.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__item_right-none {
        border-right: none;
    }
    &__item_bottom-none {
        border-bottom: none;
    }
    &__item-wrapper {
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
    }
    &__item-number {
        border-radius: 60px;
        width: 36px;
        height: 36px;
        background: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item-text {
        margin-left: 16px;
        margin-bottom: 20px;
        width: 300px;
    }
    &__item-text_width {
        width: 446px;
    }
    &__img {
        position: absolute;
        right: 81px;
        bottom: -2px;
    }
}